@model Contramcamlamroi.Models.Category
@{
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}
<h2>Chi tiết</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCate)
        </dd>

        <dt>
            Tên loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>